@use 'variables' as *;

.post {
  time {
    font-style: italic;
  }

  img {
    margin: 0;
    width: 100%;
  }
}

.post-list {
  padding: 0;
  
  ul li a {
    font-weight: normal;
    
    @media #{$phone} {
      font-size: 0.8125em;
    }
  }
}